body {
    font-family: Arial, sans-serif;
    background: #9faed8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora {
    background: #2d1759;
    padding: 20px;
    border-radius: 10px;
    width: 260px;
}

#pantalla {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    font-size: 22px;
    text-align: right;
    padding-right: 10px;
}

.botones {
    /*diseño que permite organizar elementos en filas y columnas de forma ordenada y flexible.*/
    display: grid;
    /*define cuántas columnas tendrá el diseño.*/
    /*1fr nos dice que cada columna ocupa una fracción igual del espacio disponible*/
    grid-template-columns: repeat(4, 1fr);
    /*define el espacio entre los elementos.*/
    gap: 8px;
    
}

button {
    height: 45px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   
}

button:hover {
    background: #9b7ded;
}

.cero {
   /* sirve para que un elemento ocupe más espacio dentro del grid*/
    grid-column: span 2;
}
